<!DOCTYPE html>
<html>

  <head>
    <title>Devices</title>
    <link rel="stylesheet" href="/static/dhtmanager.css"></link>
  </head>

  <body>
    <h1>Devices</h1>

    <table id="devices">
      <tr>
        <th>Device ID</th>
        <th>Address</th>
        <th>Last seen</th>
        <th>OTA Mode</th>
      </tr>

{% for device in devices %}
<tr id="{{device.id}}">
  <td>{{device.id}}</td>
  <td>{{device.address}}</td>
  <td>{{((now - device.last_seen)|string).split('.')[0]}}</td>
  <td>{{device.ota_mode}}</td>
</tr>
{% endfor %}
    </table>
  </body>

    <script src="/static/atomic.js"></script>
    <script src="/static/dhtmanager.js"></script>
</html>
