<!DOCTYPE html>
<html>

  <head>
    <title>Devices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="/static/dhtmanager.css"></link>
  </head>

  <body>
    <h1>Devices</h1>

    <table id="devices">
      <thead>
      <tr>
        <th>Device ID</th>
        <th>Address</th>
        <th>Last seen</th>
        <th>OTA Mode</th>
      </tr>
      </thead>
      <tbody>

{% for device in devices %}
<tr id="device_{{device.id}}">
  <td>{{device.id}}</td>
  <td>{{device.address}}</td>
  <td>{{device.last_seen_interval|int}}</td>
  <td class="toggleota">{{device.ota_mode|lower}}</td>
</tr>
{% endfor %}

      </tbody>
    </table>
  </body>

    <script src="/static/atomic.js"></script>
    <script src="/static/dhtmanager.js"></script>
</html>
